[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "labelmachine"]
	path = labelmachine
	url = https://github.com/a-maldet/labelmachine
